<div class="well">

  <div class="thumbnail pull-right">
    <img src="//gravatar.com/avatar/{{book.rating}}?s=80&default=wavatar">
  </div>

  <h2>{{ book.title }} - <small>{{ book.rating }}</small></h2>

  <p>{{ book.description }}</p>

  <button (click)="rateDown()"
          class="btn btn-danger"
          [disabled]="book.rating == 0">-1</button>
  <button (click)="rateUp()"
          class="btn btn-danger"
          [disabled]="book.rating == 5">+1</button>

  <a [routerLink]="['details', book.isbn]"
     class="btn btn-default">Details</a>


</div>
